/* #buy-now-btn{
position: fixed;
bottom: 197px;
right:30px;
z-index: 1000000;
} */
#buy-now-btn{
position: fixed;
z-index: 1000000;
}

.entry {
	bottom: 197px;
	right: 30px;
}

.scroll {
	bottom: 110px;
	right: 28px;
}

#icon--big {
	width: 140px;
}
#icon--small {
	width: 70px;
}
