.btn-link {
	text-decoration: none;
	color: black;
}

.btn-link:hover{
	color: black !important;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-7px);
	}
}

.bounce {
	animation: bounce 1s infinite;
}
.btn-container {
	position: fixed;
	z-index: 99;
	animation: bounce 1s infinite;
}

.entry {
	bottom: 197px;
	right: 29px;
}

.entry--second {
	bottom: 357px;
	right: 29px;
}

.scroll {
	bottom: 110px;
	right: 29px;
}

.scroll--second {
	bottom: 180px;
	right: 29px;
}

.buy-now-btn {
	
	
	gap: 5px;
	background-color: white;
	border-radius: 50%;
	border: 2px solid #80808080;
	animation: bounce 1s infinite;
}

.btn-link{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap:10px
}

.btn--entry {
	width: 140px;
	height: 140px;
}
.btn--scroll {
	width: 55px;
	height: 55px;
}
.btn--entry--second {
	width: 140px;
	height: 140px;
}
.btn--scroll--second {
	width: 55px;
	height: 55px;
}

.btn--entry img {
	width: 55px;
}
.btn--entry span {
	font-size: 22px;
	text-transform: uppercase;
}

.btn--entry--second span {
	font-size: 17px;
	
}

.btn--scroll span {
	font-size: 13px;
	text-transform: uppercase;
}

.btn--scroll--second span {
	font-size: 9px;
	text-transform: uppercase;
}


.text-container{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: .9;
}


.lang-text--bold,.lang-text--bold--second {
	font-weight: bolder;
}

.image-margin {
	margin-right:6px
}

.hidden {
	display: none;
}

@media (max-width: 1200px) {
	.btn-container {
		display: none;
	}
}

